body {
	font-family: 'Anonymous Pro';font-size: 12px;
	padding: 25px;
	margin: 50px;
}

h1 {
	background-color: rgb(238,130,238);
	color: white;
	text-align: left;
	font-family: 'Cairo';font-size: 44px;
	width: 1000px;
	padding: 25px;
	margin: 50px;
}

p {
	font-family: 'Anonymous Pro';font-size: 16px;
	text-align: left;
	padding: 25px;
	margin: 50px;
}

a {
	color: black;
}

ul {
	list-style-type: none;
	float: right;
	margin-left: 400px;
	padding: 0;
	width: 200px;
	background-color: rgb(238,130,238);
}

li a {
	display: block;
	padding: 8px 16px;
	color: white;
}

li a:hover {
	background-color: #555;
	color: white;
}

@media (min-width: 768px) and (max-width: 991px) {
	div {
		margin: 63%;
		width: 70%;
	}
}