* {
    box-sizing: border-box;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
  'header header header header header header' 
  'left left left left right right' 
  'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 
.left,
.right {
  padding: 10px;
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the right column */
.right {
  grid-area: right;
}

body {
	font-family: 'Anonymous Pro';font-size: 12px;
	padding: 25px;
	margin: 50px;
}

h1 {
	background-color: rgb(238,130,238);
	color: white;
	text-align: left;
	font-family: 'Cairo';font-size: 44px;
	width: 1000px;
	padding: 25px;
    margin-bottom: 0px;
	margin-left: 50px;
	grid-area: header;
}

footer {
	grid-area: footer;
}

p {
	margin-top: 5px;
	font-family: 'Anonymous Pro';
	font-size: 16px;
	text-align: left;
    margin-bottom: 0px;
}

.content {
	padding: 25px;
	width: 1000px;
	margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 40px;
}

a {
	color: black;
}

.card {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(238,130,238);
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.rightcolumn {
	float: left;
	width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

ul {
	background-color: rgb(238,130,238);
    list-style-type: none;
    color: white;
	text-align: left;
	font-family: 'Cairo';
	width: 1000px;
	padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    overflow: hidden;
    font-size: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
} /* 555 */

