p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 15px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    max-width: 700px;
}

body {
    margin-left: 10%;
    max-width: 700px;
    margin-right: 10%;
}

#main {
    top: 50%;
    margin-top: 0px;
}

i {
    padding-left: 8px;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: 0.25s; /* Safari 3.1 to 6.0 */
    transition: 0.25s;
    opacity: 1;
}

a:hover {
    opacity: 0.5;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 10px;
}

b {
    font-weight: bolder;
}